/* 
Color Palette

#9c8674    #c9c4c8
#929f82    #362930
#2f3728

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
}

.main-grid-container{
    display: grid;
    background-color: #c9c4c8;
    grid-template-areas: 
    'header header header header'
    'sidebar products-grid products-grid products-grid'
    'footer footer footer footer';
}

.main-header{
    grid-area: header;
    background-color: #362930;
    padding: 14px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .utilites{
    display: flex;
    gap: 25px;
}

.main-header .utilites a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    opacity: .6;
    transition: .2s ease-in-out;
}


.main-header .utilites a:hover{
    opacity: 1;
}

.site-brand{
    color: #fff;
    font-weight: 400;
    font-style: italic;
}

.main-sidebar{
    grid-area: sidebar;
    padding: 3rem;
    background-color: #E9E7E9;
}

.main-sidebar .sidebar-title{
    margin-bottom: 8px;
    font-size: 16px;
    color: #2f3728;
}

.main-sidebar .search-bar{
    margin-bottom: 35px;
    width: 100%;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 0;
    outline: 0;
    border: 1px solid rgba(156, 134, 116, .4); 
    background-color: rgba(255,255,255,.5);
    transition: .2s ease-in-out;
}

.main-sidebar .search-bar:hover{
    border: 1px solid rgba(156, 134, 116, 1); 
}

.main-sidebar .search-bar:focus{
    border: 1px solid rgba(156, 134, 116, 1); 
}

.main-sidebar .filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 15px 0 25px 0;
    border-top: 1px solid rgba(156, 134, 116, .4);
    margin-bottom: 15px;
}

.main-sidebar .filter .category-filter{
    font-size: 14px;
}

.main-sidebar .filter .category-filter .filter-link{
    color: #2f3728;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.main-sidebar .filter .category-filter .filter-link:hover{
    color: #929f82;
}

.main-sidebar .filter .category-filter .quantity{
    opacity: .6;
}

.main-sidebar .filter .category-filter.active{
    font-weight: 700;
}

.product-subfilter{
    font-size: 14px;
    color: #2f3728;
    width: 100%;
    border-bottom: 1px solid rgba(156, 134, 116, .4);
    padding: 0 0 12px 0;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-dropdown{
    max-width: 200px;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 0;
    outline: 0;
    border: 1px solid rgba(156, 134, 116, .4); 
    background-color: rgba(255,255,255,.5);
    transition: .2s ease-in-out;
    cursor: pointer;
    color: #2f3728;
}

.product-subfilter .sort-dropdown:hover{
    border: 1px solid rgba(156, 134, 116, 1); 
}

.product-subfilter .sort-dropdown:focus{
    border: 1px solid rgba(156, 134, 116, 1); 
}

.product-area{
    grid-area: products-grid;
    background-color: #c9c4c8;
    margin-bottom: 5vh;
    padding: 2.5rem 3rem;
}

.colophon{
    grid-area: footer;
    font-size: 13px;
    background-color: #929f82;
    padding:  25px 15px;
    color: #fff;
    text-align: center;
}

.products-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.products-grid-container .product{
    background-color: rgba(255,255,255,.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: .3s ease-in-out;
}

.products-grid-container .product:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    transform: translateY(-5px);
}

.products-grid-container .product:hover .product-image{
    /* transform: scale(1.05); */
}

.products-grid-container .product .product-image{
    width: 100%;
    height: auto;
    transition: .3s ease-in-out;
}

.products-grid-container .product .product-btn{
    background-color: #362930;
    font-size: 15px;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    transition: .3s ease-in-out;
}

.products-grid-container .product .product-btn:hover{
    background-color: #9c8674;
}

.products-grid-container .product .product-title{
    margin-bottom: 5px;
    color: #2f3728;
    font-size: 16px;
    
}

.products-grid-container .product .product-price{
    margin-bottom: 20px;
    color: #9c8674;
    font-weight: 400;
}